.progress-container {
    margin-bottom: 25px;
    .progress {
        height: 10px;
        margin-top: 10px;
        transition: 2s;
        background-color: $white;
    }
    .name, .value {
        font-size: 17px;
        font-family: $headingFontFamily;
        color: $white;
    }
    .value {
        float: right;
        span {
            font-family: $baseFontFamily;
        }
    }
}