.contact {
    background-color: $white;
    @media (max-width:991px) {
        margin-top: 30px;
    }
    .row {
        display: flex;
        flex-wrap: inherit;
        overflow: hidden;
        min-height: 100%;
        padding: 0;
        @media (max-width:911px) {
            display: block;
        }
        .side {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $blue;
            @include baffleTextRotate;
            
            @media (max-width:991px) {
                height: 100px;
                width: 100%;
                max-width: 100%;
                .baffle_text {
                    transform: inherit;
                    span {
                        font-size: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
        .form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 5%;
            background-color: $white;
            @media (max-width: 767px) {
                padding: 30px 50px 50px 50px;
            }
            .form-container {
                margin-top: 20px;
                input,textarea {
                    overflow: visible;
                    height: 50px;
                    width: 100%;
                    background-color: $white;
                    border: none;
                    border-bottom: 1px solid #555;
                    transition: .2s;
                    color: $black;
                    font-size: 1.6rem;
                    &:focus {
                        border-bottom: 1px solid $purple;
                        outline: none;
                    }
                    &.error {
                        border-bottom: 1px solid red;
                    }
                }
            }
        }
    }
    .submit {
        margin-top: 40px;
    }
}
