.hero {
    background-color: $blue;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
       padding: 5rem 1rem;
    }
    .row {
        display: flex;
        overflow: hidden;
        width: 100%;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 5% 0 5% 5%;
            min-height: 600px;
            @media (max-width:768px) {
                width: 100%;
                min-height: 250px;
                padding: 0;
            }

            h2 {
                color: $white;
            }
            .content-text {
                z-index: 50;
                min-width: 600px;
                @media (max-width:768px) {
                    width: 100%;
                }
            }

            .Typewriter {
                min-width: 220px;
                margin-bottom: 6rem;
                margin-top: -2rem;
            }
            .Typewriter span {
                color: $pink;
                font-size: 5rem;
                font-family: $headingFontFamily;
                font-weight: 900;
                &.Typewriter__cursor {
                    color: $white;
                }
            }
            @media (max-width: 768px) {
                .Typewriter {
                    margin-bottom: 3rem;
                    margin-top: 0;
                }
                .Typewriter span {
                    font-size: 2.8rem;
                }
            }
    
            .hover-button {
                margin-top: 20px;
            }
            @media (max-width:991px) {
                margin: auto;
            }
           
        }

        .images-wrapper {
           min-height: 600px;
           display: flex;
           justify-content: center;
           flex-direction: column;
           @media (max-width: 768px) {
            width: 100%;
            min-height: 300px;
           }
           svg {
               color: $white;
               font-size: 5rem;
                @media (max-width:991px) {
                    font-size: 2rem;                       
                }

                &.fa-drupal,
                &.fa-css3,
                &.fa-codepen {
                    color: $pink;
                }

                &.fa-react,
                &.fa-sass,
                &.fa-internet-explorer,
                &.fa-code {
                    color: $yellow;
                }

           }
            .float-image {
                object-fit: cover;
                position: absolute;
                width: 50px;
                @media (max-width:991px) {
                    width: 20px;
                }
                &.move-up {
                    animation: up 4s infinite  alternate;
                }
                &.move-down {
                    animation: down 4s infinite  alternate;
                }
                
                @keyframes up {
                    0% { transform: translateY(0); }
                    100% { transform: translateY(-50px); }
                }
                @keyframes down {
                    0% { transform: translateY(0); }
                    100% { transform: translateY(50px); }
                }
            }
           
        }
    }
}
