.portfolio {
    background-color: $white;
    position: relative;
    padding-top: 5rem;
    @media (max-width:768px) {
        padding-top: 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        min-height: 100%;
        padding: 0;
        @media (max-width:767px) {
            display: block;
        }
        .side {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $blue;
            @include baffleTextRotate;
            
            @media (max-width:991px) {
                height: 100px;
                width: 100%;
                max-width: 100%;
                flex: 100%;
                .baffle_text {
                    transform: inherit;
                    color: $white;
                    span {
                        font-size: 4rem;
                        line-height: 4rem;
                    }
                }
            }
        }
    }

    .recent-works {
        padding-top: 1rem;
        @media (max-width:768px) {
            flex: 100%;
            max-width: 100%;
        }
    }

    .gallery {
        &-list {
            margin: 1rem;
            padding:  0;

            @media #{$tablet} {
                margin: 2rem 2rem 2rem -2rem;
                padding:  2rem
            }

            @media (min-width:1500px) {
                padding: 6rem 3rem;
            }
        }

        &-item {
            margin: 0;
            padding: 0 2rem 3rem 2rem;
            
            @media (min-width:1500px) {
                padding: 0 3rem 5rem 3rem;
            }
            cursor: pointer;
           
            .react_lightgallery_item {
                box-shadow: 0px 5px 10px #cccccc;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
       
                &:hover {
                    .mask {
                        height: 100%;
                        transition: all ease-in-out .3s;
                        &-desc,
                        &-link {
                            opacity: 1;
                            transition: all ease-in-out .5s;
                        }
                        &-link {
                            text-decoration: none;
                            border-bottom: none;
                        }
                    }
                }
            }
            
           .mask {
               background: rgba($purple, 0.9);
               position: absolute;
               width: 100%;
               height: 0;
               bottom: 0;
               left: 0;
               display: flex;
               justify-content: center;
               flex-direction: column;

               &-desc {
                   color: $white;
                   font-weight: 500;
                    opacity: 0;
                    position: relative;
                    z-index: 10;
                    padding: 0 1rem;
                    text-align: center;
               }

               &-link {
                color: $pink;
                font-size: 2.6rem;
                display: block;
                font-weight: 500;
                 opacity: 0;
                 position: relative;
                 z-index: 10;
                 align-self: center;

                 &:hover {
                    text-decoration: none;
                    border-bottom: none;
                    color: $yellow;
                 }
            }
              
           }
        }
    }

}