.services {
     background-color: $white;
     position: relative;
     padding: 30px 0;
     display: flex;
     @media (max-width: 768px) {
          padding: 0;
      }
     .row.top {
         display: flex;
         overflow: hidden;
         width: 100%;
         @media (max-width: 991px) {
              min-height: 100%;
              padding-top: 50px;
         }
         .content {
             display: flex;
             justify-content: center;
             flex-direction: column;
             padding: 2% 5%;
             width: 100%;
             @include baffleText;
          
             .heading {
                  padding-bottom: 3rem;
             }

             .services_container {
               display: flex;
               align-items: center;
               min-height: 500px;
               
               @media (max-width: 991px) {
                    margin-top: 40px;
               }
               .row {
                    overflow: hidden;
               }
               .service {
                    text-align: center;
                    margin: 20px 0px;
                    padding: 0 40px;
                    @media (max-width: 991px) {
                         padding: 0;
                         margin-bottom: 50px;
                    }
                    @media (max-width: 1300px) {
                         padding: 0 30px;
                    }
                    .icon svg {
                         font-size: 46px;
                         color: $pink;
                    }
                    h4 {   
                         margin: 15px 0px 9px 0px;
                    }
               
                    &.border-side {
                         border-left: 1px solid $blue;
                         border-right: 1px solid $blue;
                         @media (max-width: 991px) {
                              border: none;
                         }
                    }
               }
          }
         }
     }

}